 body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
    color: #333;
}

 header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

 section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

 header h1 {
    font-size: 32px;
}

 header p {
    font-size: 18px;
}

h2 {
    
    font-size: 26px;
    color: #2c3e50;
}
p {
    font-size: 18px;
    line-height: 1.6;
}

li {
    font-size: 18px;
}

.profile-img {
    width: 150px;
    border-radius: 5px;
    display: block;
    margin: 10px 0;
}

.project h3 {
    font-size: 22px;
}

.project {
    border-left: 4px solid #2c3e50;
    padding-left: 10px;
}
.about-container {
    display: flex;
    align-items: center;   
    gap: 20px;             
}

.about-text {
    max-width: 500px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
}
